/*=== Global Settings ===*/

html, body{
	margin:0;
    padding:0;
	background:#fff;
	font-family: arial, tahoma,'Trebuchet MS';
	height:100%;
}

/*=== Formatting ===*/

body, img, ul, ol, li, form, blockquote {margin: 0; padding: 0;}
p {line-height:1em; padding: 5px 0;}
a, a:visited {color: #0000FF; text-decoration: underline;}
a:hover {text-decoration: none;}
a img {border: none;}
strong, b {font-weight: bold;}
em, i {font-style: oblique;}

/*=== Wrapper ===*/

#wrapper{
	position:relative;
	margin:0 auto;
	padding:0;
	width:914px;
}

#header{
	margin:0;
	padding:0;
	width:914px;
	height:100px;
	background:url(http://i780.photobucket.com/albums/yy87/Ita_Sapuraningsih/blogspotwhitelanding/images/header_zpsf0ced87d.png) no-repeat;
}

#header h1{
	font-family:Verdana, Arial;
	font-weight:bold;
    margin:auto;
    padding:45px 0 0;
	text-align:center;
	*margin:45px 0 0;
	*margin:0;
	_margin:45px 0 0;
	_margin:0;
}


/*=== Squeeze Page Area ===*/

#videobody{
	margin:0;
	padding:0 0 20px 0;
	width:914px;
	background:url(http://www.myfreesqueezepages.net/images/bodybg.png) repeat-y;
	overflow:hidden;
	height:auto;
}

#videobody #bigvideo {
	padding:0;
	margin:0;
	width:auto;
	text-align:center;

}

#videobody h2.headline {
	font-family:Verdana, Arial;
	font-size:60px;
	margin:10px auto;
	width:750px;
	text-align:center;
	color:#cc0000;
}

#videobody p.undervideo {
	font-size:14px;
	font-family:arial, verdana;
	color:#000;
	padding:0 5px;
	margin:20px auto;
	width:450px;
}

/*=== Optin Area ===*/

.optin {
	margin:auto;
	width:auto;
	font-size:11px;
	font-family:Arial, verdana, sans-serif;
	text-align:center;
	color:#000;
}

.optin p{
	margin:20px auto 0;
	padding:0;
	width:500px;
	font-size:13px;
	font-family:arial, verdana;
	text-align:center;
	color:#000;
}

/*=== Autoresponder Code Area ===*/

#emailcode {
	width:auto;
	margin:10px 0 0; 
	padding:0;
}

#emailcode .namefield{
	margin:10px 10px 0 0; 
	padding:0;
	width:230px;
	height:35px;
	line-height:35px;
	border:2px solid #cc0000;
	text-align:center;
	font-size:15px;
	color:#404040;
	font-weight:bold;
	background:#ececec;
}

#emailcode .emailfield{
	margin:0; 
	padding:0;
	width:230px;
	height:35px;
	line-height:35px;
	border:2px solid #cc0000;
	text-align:center;
	font-size:15px;
	color:#404040;
	background:#ececec;
	font-weight:bold;
}

#emailcode .button img {
	text-align:center;
	margin:0; 
	padding:0;
	width:669px;
	height:87px;
}

#disclaimer {
	width:400px;
	margin:0 auto;
	padding:5px;
	text-align:center;
	background:url(http://i780.photobucket.com/albums/yy87/Ita_Sapuraningsih/blogspotwhitelanding/images/lock_zpsca8015e4.jpg) no-repeat;
}

#disclaimer p{
	margin:0 0 0 20px;
	padding:0;
	font-size:9px;
	color:#999792;
	font-family:Arial, Verdana, Tahoma;
	text-align:left;
}

/*=== Footer Area ===*/

#footer{
	margin:0 auto;
	padding:0;
	width:914px;
	background:url(http://i780.photobucket.com/albums/yy87/Ita_Sapuraningsih/blogspotwhitelanding/images/footer_zps1d2776ab.png) no-repeat;
	text-align:center;
	overflow:hidden;
}

.footerlinks{
	margin:35px 0 0;
	padding:0;
	text-align:center;
	font-size:14px;
    color:#6b6b6b;
}

.footerlinks a, .footerlinks a:visited{
	color:#6b6b6b;
	font-size:14px;
    text-decoration:none;
}

.footerlinks a:hover{
    text-decoration:underline;
}

.credit {
	padding:0;
	margin:10px 0 20px;
	text-align:center;
}

.credit a, .credit a:visited{
	color:#6b6b6b;
	font-size:10px;
    text-decoration:none;
}

.credit a:hover{
    text-decoration:underline;
}

/*=== Download or Blank Page ===*/

.blank {
	margin:0 auto;
	padding:0 20px;
	width:550px;
	text-align:center;
}

.blank h2{
	font-family:Verdana, Arial;
	font-size:55px;
	margin:10px auto;
	text-align:center;
	border-bottom: 2px dotted #bababa;
}

.blank h3{
	font-family:Verdana, Arial;
	margin:10px auto 30px;
	text-align:center;
	font-size:20px;
}

.blank h4{
	font-family:Verdana, Arial;
	margin:10px auto 20px;
	padding:3px;
	text-align:center;
	font-size:20px;
}

.blank p{
	margin:0 auto;
	padding:20px;
	width:510px;
	font-size:14px;
	text-align:left;
}

.blank img{
	border:none;
	margin:20px auto 0;
	margin:auto;
}

.dlbg {
	background:#ececec;
	width:530px;
	padding:10px;
}

.dlbg p{
	padding:10px 0;
}